<div class="course-card" [ngClass]="cardClasses()">
  <div class="course-title">
    {{ index }}
    {{ course.description }}
  </div>
  @if(course.id === 1) {
  <h2>Course with id of 1</h2>
  } @else if(course.iconUrl) {
  <img width="300" alt="Angular Logo" [src]="course.iconUrl" />

  } @else {
  <h2>No image available</h2>
  }

  <div class="course-description">
    {{ course.longDescription }}
  </div>
  <ng-container class="course-category">
    @switch (course.category) { @case ("BEGINNER") {
        <ng-container><div class='category'>Beginner</div></ng-container>
    } @case ("INTERMEDIATE") {
    <div class="category">Intermediate</div>
    } @case ("ADVANCED") {
    <div class="category">Advanced</div>
    } @default {
    <div class="category">Unknown</div>
    } }
  </ng-container>
</div>
