<div class="course-card" #container>



  <ng-content select="course-image" *ngIf="course.iconUrl; else noImage"></ng-content>
  <ng-template #noImage>
    <ng-container *ngTemplateOutlet="noImageTpl; context: {description: course.description}"></ng-container>
  </ng-template>

  <div class="course-description">
    {{ course.longDescription }}
  </div>
  <ng-container class="course-category">
    @switch (course.category) { @case ("BEGINNER") {
    <ng-container><div class="category">Beginner</div></ng-container>
    } @case ("INTERMEDIATE") {
    <div class="category">Intermediate</div>
    } @case ("ADVANCED") {
    <div class="category">Advanced</div>
    } @default {
    <div class="category">Unknown</div>
    } } </ng-container
  ><br />

  <button (click)="onCourseViewed()">View Course</button>
</div>
